
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: black;
            color: #333;
        }

        header {
            background-color: #680c07;
            color: white;
            padding: 20px;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }

        nav {
            background-color: #A91B0D;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

        .container {
            max-width: 900px;
            margin: 20px auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
        }

        .container h2 {
            color: purple;
        }

        .date {
            font-size: 0.9em;
            color: #777;
        }


        footer {
            background-color: #680c07;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 30px;
        }
