t1 {
    color: black;
    font-size: 18px;
    line-height: 1.45;
    text-align: center;
}

p2 {
    letter-spacing: 10px;
    color: crimson;
    font-size: 18;
    word-spacing: 50px;
}

.contenedor {
    width: 1000px;
    height: 250px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

txt1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.slider-container{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slider.container img{
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}